body{

    background-color:  rgb(217, 248, 240) ;
    
}
h5{
  font-style: oblique;
}
.header {
  
    width: 100%;
    display: flex;
    background-color: rgb(216, 252, 219);
    border-radius: 10%;
   
  }
  
  .my-photo {
    width: 20%;
   padding-top: 0.5%;
   padding-right: 5%;
   padding-left: 1%;
}
  
  .my-photo img {
    width: 80%;
    border: 1%;
    border-radius: 10%;
    box-shadow: 0 0 3px 3px rgba(247, 173, 90, 0.89);
    margin: 1%;
  }
  
  .header-content {
    width: 60%;
    margin: 2.5%;
  }
  #name{
  font-family:'Libre Baskerville';
  color: rgba(207, 114, 7, 0.89);
  font-size: 280%;
  }
  .header-content-name{
      padding-left: 2%;
      padding-right: 1%;
      padding-bottom: 1%;
  }
  .header-content-description{
    font-family: 'Cookie', cursive;
    color: rgba(207, 114, 7, 0.89);
    padding-left: 10%;
    padding-right: 10%;
    font-size: 230%;
    
  }
  .section-experience{
    font-family: 'Cookie', cursive;
    font-size: 200%;
    color: rgba(207, 114, 7, 0.89);
  }
#experience{
    font-family: 'Libre Baskerville';
    font-style: normal;
    color: rgba(58, 32, 2, 0.89);
    background-color: rgb(216, 252, 219);
  }
  .experience{

    

  }
  .section-studies{
    font-family: 'Cookie', cursive;
    font-size: 200%;
    color: rgba(207, 114, 7, 0.89);
   
   
  }
  
  section {
    margin: 10px;
    padding-left: 20%;
    padding-top: 5%;
    width: 25%;
    display: inline-block;
    font-size: 150%;
   
  
  }
  button{

    margin-left: 10%;
    margin-right: 25%;
    background-color: rgb(170, 248, 229);
    color: rgba(119, 65, 2, 0.89);
    border-radius: 25%;
    border-bottom-style:solid;
    border-color: rgba(219, 160, 91, 0.89);
       
    
  }
  
  .section-header {
    cursor: pointer;
  }
  
  .experience{
      display: none;
  }

  .studies {
    display: none;
  }
  #studies{
    font-family: 'Libre Baskerville';
    font-style: normal;
    color: rgba(58, 32, 2, 0.89);
    background-color: rgb(216, 252, 219);
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }
  .footer{
    width: 100%;
    display: flex;
    background-color: rgb(216, 252, 219);
    border-radius: 10%;
  }
  
    a:hover{

        color: rgba(207, 114, 7, 0.89);
        font-size: 200%;
       

  }
  
  .social-links{      
    font-family: 'Cookie', cursive;
    color: rgba(207, 114, 7, 0.89);
    font-size: 200%;
    margin-left: 40%;
    margin-right: 25%;

  }
  .social-button{
    color: rgba(207, 114, 7, 0.89);
    
    
  }